<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>web.ClientServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>web.LoginServlet</servlet-class>
    </servlet>
  <servlet>
      <servlet-name>mainServlet</servlet-name>
      <servlet-class>web.MainServlet</servlet-class>
  </servlet>  
    <servlet>
        <servlet-name>OptionService</servlet-name>
        <servlet-class>web.AddDelOptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chTarif</servlet-name>
        <servlet-class>web.ChangeTarif</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OptionService</servlet-name>
        <url-pattern>/addDel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chTarif</servlet-name>
        <url-pattern>/changeTarif</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
